<footer class="container">
    <hr />
    <p>
        &copy; @DateTime.Now.Year - Phuoc Nguyen Ich. &nbsp;
        <a href="">www.phuocnguyenich.com</a>
    </p>
    <input type="hidden" id="culture-name" value="@CultureInfo.CurrentCulture.Name" />
    <input type="hidden" id="culture-2lettercode" value="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName" />

</footer>

